/Task1/target/
/Task2/target/
/Task3/target/classes/com/geekbrains/spring/Application.class
/Task3/target/classes/com/demo/AppRun.class
/Task3/target/classes/com/naumdeveloper/spring/AppRun.class
/Task3/target/classes/com/naumdeveloper/spring/IProductsService.class
/Task3/target/classes/com/demo/Items.class
/Task3/target/classes/com/demo/Main.class
/Task3/target/classes/com/geekbrains/spring/MainController.class
/Task3/target/classes/com/geekbrains/spring/Product.class
/Task3/target/classes/com/naumdeveloper/spring/Product.class
/Task3/target/classes/com/geekbrains/spring/ProductsController.class
/Task3/target/classes/com/naumdeveloper/spring/ProductsController.class
/Task3/target/classes/com/geekbrains/spring/ProductsRepository.class
/Task3/target/classes/com/naumdeveloper/spring/ProductsRepository.class
/Task3/target/classes/com/naumdeveloper/spring/ProductsService.class
/Task3/target/classes/com/demo/RepoItems.class
/Task3/target/classes/com/demo/User.class
